* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;

    background: url(img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    text-shadow: 2px 2px 2px black;

    padding: 1rem 4rem;
}

.content {
    flex-grow: 1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.home {
    margin-right: auto;
    font-weight: bolder;
}

a {
    color : inherit;
    text-decoration: none;
}

.header-ad {    
    display: flex;
    gap: 2rem;
    max-width: 60vw;
    background-color: #00000060;
    margin: 4rem auto 0;
}

.header-ad-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: #fff;
}

.header-ad-text > p {
    margin-bottom: auto;
}

.header-ad button {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    color: #fff;
    background: aqua;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.15rem;
}

.header-ad-img {
    width: 200px;
    height: 200px;
}

.info {
    padding: 4rem;
}

.info-text {
    text-align: center;
}

.cards {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 0 1 200px;
    box-shadow: 4px 4px 4px black;
    border-radius: 12px;
    height: 300px;
}

.card,
button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

button:hover {
    transform: scale(1.2);
}


.card-img {
    width: 220px;
    height: 200px;
}

.card-text {
    padding: 1rem;
}

.quotes {
    padding: 8rem 12rem;
    text-align: center;
    color: #fff;
    background: #00000080;
}

.quotes > p {
    font-size: 1.5rem;
    font-weight: bold;
}

p.quotes-by {
    font-size: 1.95rem;
    margin-top: 1rem;
    text-align: right;
    font-weight: bolder;
}

.main-ad {
    background: aquamarine;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 12px;
    width: 60vw;

    display: flex;
    align-items: center;
}

.main-ad-text {
    flex-grow: 1;
    font-size: 1.25rem;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

.main-ad-text-first {
    font-size: 1.45rem;
    font-weight: bold;
}

.main-ad-button {    
    width: fit-content;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    color: #fff;
    background: black;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.15rem;
}

.footer {
    cursor: pointer;
    text-align: center;
    background: black;
    color: #fff;
    padding: 1rem;
}